/.idea/
/.gradle/
/build/
/tordnscrypt/.cxx/
/tordnscrypt/build/
/local.properties
build/**
*/build/
.idea/**
.gradle/**
build/**
**/*.iml
**/*.orig
local.properties
**/*.iml
.idea
/.idea/modules/
/flurrykey.txt
/tordnscrypt/google-services.json